<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/eb31ef5eb4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="profile.css" type="text/css">
</head>

<body>
    <header id="topnav">
        <h1>Profile</h1>
    </header>
    <div class="title">
        <div>
            <i class="fa-solid fa-arrow-left back-button"></i>
        </div>
        <div>
    <div id="profile">
        
        <div>
            <img id="profile_pic" src=<%= img%>>
            <form id="profile_form">
                <fieldset>
                    <div class="info">
                        <label>Name</label>
                        <h2><%= name%></h2>
                    </div>
                    <div class="info">
                        <label>Email</label>
                        <h2><%= email%></h2>
                    </div>
                    <div class="info">
                        <label>Username</label>
                        <h2><%= username%></h2>
                    </div>
                    <div class="info">
                        <label>Phone</label>
                        <h2><%= phone%></h2>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="buttons">
            <button type="button" id="edit_btn">Edit</button>
            <button type="button" id="save_btn">Save</button>
        </div>
    </div>
    <main>
        <div class="navbar">

            <div class="navbar-item" id="home-tab">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
            </div>

            <div class="navbar-item" id="news-tab">
                <i class="fa-solid fa-newspaper"></i>
                <p>News</p>
            </div>


            <div class="navbar-item" id="scores-tab">
                <i class="fa-solid fa-trophy"></i>
                <p>Scores</p>
            </div>


            <div class="navbar-item">
                <i class="fa-solid fa-user" id="profile-tab"></i>
                <p>Profile</p>
            </div>
        </div>
    </main>
</body>

</html>