<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/eb31ef5eb4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="profile.css" type="text/css">
</head>

<body>
    <header id="topnav">
        <h1>Profile</h1>
    </header>
    <div id="profile">
        <div>
            <img id="profile_pic" src =<%= img%>>
            <form id="profile_form">
                <fieldset>
                <div class="info">
                    <label>Name</label>
                    <h1><%= name%></h1>
                </div>
                <div class="info">
                    <label>Email</label>
                    <h1><%= email%></h1>
                </div>
                <div class="info">
                    <label>Username</label>
                    <h1><%= username%></h1>
                </div>
                <div class="info">
                    <label>Phone</label>
                    <h1><%= phone%></h1>
                </div>
                </fieldset>
            </form>
        </div>

        <div id="buttons">
            <button type="button" id="edit_btn">Edit</button>
            <button type="button" id="save_btn">Save</button>
        </div>
    </div>
</body>

</html>